.bottom-bar {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 0px);
    padding: 10px 0;
    background-color: #100f0e;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: bottom 0.3s;
  }
  
  .bottom-bar.under-keypad {
    top: 2000px; /* This is for bottom bar disappearance */
  }
  
  .bottom-nav-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px; /* Make the background for icon and text round */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bottom-nav-icon .react-icons {
    font-size: 24px; /* Adjusted font size for better alignment */
    transition: color 0.3s;
  }
  
  .bottom-nav-icon.active {
    background-color: #f9531e;
    color: white;
  }
  
  .nav-label {
    margin-left: 4px; /* Adjust margin to position text correctly */
    font-size: 14px;
    margin-top: 2px;
    font-weight: 500;
    color: white;
    transition: opacity 0.2s ease-in-out;
  }
  
  .bottom-nav-icon:not(.active) .nav-label {
    display: none;
  }
  
  .bottom-nav-icon.active .nav-label {
    display: inline; /* Make sure the text is displayed inline with the icon */
  }
  