<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620187458799-qrg57akab93bloiftmk8ul8lithpf011.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620187458799-qrg57akab93bloiftmk8ul8lithpf011</string>
	<key>API_KEY</key>
	<string>AIzaSyC_HhtcM-iT4tBNzx6bAJOIQ62BaWvAx6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>620187458799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mythrift.app</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-ba520</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-ba520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620187458799:ios:e01254c7a603ab4656cf1a</string>
</dict>
</plist>